[submodule "emacs.d/qml-mode"]
	path = emacs.d/qml-mode
	url = https://github.com/cataska/qml-mode.git
[submodule "emacs.d/yaml-mode"]
	path = emacs.d/yaml-mode
	url = https://github.com/yoshiki/yaml-mode.git
[submodule "emacs.d/python.el"]
	path = emacs.d/python.el
	url = https://github.com/fgallina/python.el.git
[submodule "emacs.d/puppet"]
	path = emacs.d/puppet
	url = https://github.com/puppetlabs/puppet-syntax-emacs.git
